{% extends 'vinoteca/00 home.html' %}

{% block INICIO %}

<p><h3>CLIENTES</h3></p>

<div style="text-align: center; margin-top: 20px;">
    <a href="{% url 'vinoteca:alta_clientes' %}" style="color: #333;
                                                        text-decoration: none;
                                                        margin: 0 0.1em;
                                                        border: 1px solid #8B8B83;
                                                        padding: 4px 6px;
                                                        text-align: center;
                                                        display: inline-block;
                                                        font-size: 10px;
                                                        cursor: pointer;
                                                        border-radius: 2px;
                                                        outline: none;
                                                        width: 150px;
                                                        min-width: 150px;">ALTA DE CLIENTES</a>
    <a href="{% url 'vinoteca:cbv/lista_clientes' %}" style="color: #333;
                                                        text-decoration: none;
                                                        margin: 0 0.1em;
                                                        border: 1px solid #8B8B83;
                                                        padding: 4px 6px;
                                                        text-align: center;
                                                        display: inline-block;
                                                        font-size: 10px;
                                                        cursor: pointer;
                                                        border-radius: 2px;
                                                        outline: none;
                                                        width: 150px;
                                                        min-width: 150px;">LISTA DE CLIENTES</a>
</div>      
{% endblock INICIO %}
