{% extends 'vinoteca/00 home.html' %}

{% block INICIO %}

    <p><h3>ACERCA DEL AUTOR</h3></p>

    <p>Mi nombre es Fernando Gonzalez Rojas, tengo 33 años y soy Licenciado en Administración graduado de la Universidad Nacional de La Matanza.</p>
    <p>Actualmente trabajo como Analista Comercial en una importante Compañía de bebidas alcohólicas y apunto a continuar y desarrollar mi carrera dentro del ámbito de Big Data. En este sentido, estoy realizando mi segundo curso en Coderhouse (el anterior fue Data Analytics) para profundizar mis conoccimientos en distintas herraminetas.</p>
    <p>Aprovecho este espacio para agardecerles a mis Profesores Mariano, Nicolás y César (y tambien quiénes participaron en la creacion del contenido de la plataforma) por haber transmitido sus conocimientos con tanta claridad y dedicación.</p>

{% endblock INICIO %}
